.aip-header-txt {
  color: var(--Tone-Blue-Blue-4, #002850) !important;
  font-size: 24px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 36px !important;
}
.css-140puxv-MuiTypography-root-MuiDialogTitle-root {
  color: var(--Tone-Blue-Blue-4, #002850) !important;
  font-size: 24px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 36px !important;
}
.aip-txt-20-400-030303 {
  color: #030303 !important;
  font-size: 20px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
}
.aip-cta-15-700-roboto {
  color: var(--black-white-white, #fff) !important;
  font-size: 15px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
  text-transform: none !important;
}

.aip-pad-8-16 {
  padding: 8px 16px !important;
}
.popupdata {
  padding: 5px;
  border: 1px solid #ddd;
  /* margin-bottom: 1px; */
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.addbutton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.scrolldata {
  max-height: 300px;
  /* overflow-y: auto; */
  padding-right: 10px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  /* background-color: #f5f5f5; */
}
.inspection-card {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.total-inspections {
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}
p{
  font-size: small;
}


.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #f5f5f5; /* Adjust the background color to match the title area */
  border-top: 1px solid #ddd; /* Optional: Add a border at the top of the footer */
}

/* .footer-container .aip-cta-15-700-roboto {
  margin-left: 16px;
} */

.footer-container .total-inspections {
  /* margin-right: 16px; */
  font-weight: 500;
  font-size: 16px;
  color: #333;
}
