/* .slider-container,.slider-container .slick-slider,.slider-container .slick-slider .slick-list{width: 100%;height: 100%;}
.slider-container .slick-slider .slick-dots {bottom: 54px;text-align: end;right: 50px;}
.slider-container .slick-slider .slick-dots li{width: 15px; height: 15px;}
.slider-container .slick-slider .slick-dots li button{width: 15px;height: 15px;padding: 0;border: 2px solid #FFF;border-radius: 100%;}
.slider-container .slick-slider .slick-dots li button::before{display: none;}
.slider-container .slick-slider .slick-dots li.slick-active{    width: 33px;
    height: 15px;
    border-radius: 7.5px;
background-color: #FFF;} */

.slider-container,
.slider-container .slick-slider,
.slider-container .slick-slider .slick-list {
  width: 100%;
  height: 100%;
}
.slider-container .slick-slider .slick-dots {
  bottom: 57px;
  text-align: end;
  right: 92px;
}
.slider-container .slick-slider .slick-dots li {
  width: 10px;
  height: 10px;
  margin: 0 3px;
}
.slider-container .slick-slider .slick-dots li button {
  width: 10px;
  height: 10px;
  padding: 0;
  border: 1px solid #fff;
}
.slider-container .slick-slider .slick-dots li button::before {
  display: none;
}
.slider-container .slick-slider .slick-dots li.slick-active {
  width: 21px;
  height: 10px;
  background-color: #fff;
}
.slider-img {
  width: 100%;
  position: absolute;
  z-index: -1;
}
.slider-img-div {
  position: relative;
  width: 100%;
  height: 100vh;
}
.add-background {
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 11%, rgba(0, 0, 0, 0));
}
.image-title-para {
  position: absolute;
  bottom: 57px;
  left: 60px;
  gap: 6px;
  display: flex;
  flex-direction: column;
}
.setLogo {
  position: absolute;
  top: 57px;
  left: 63px;
}
.setmessage {
  width: 100%;
  padding-top: 10px;
  max-width: 550px;
  color: #0a0a0a;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
/* 
@media screen and (max-height: 992px){
    .image-title-para{position: absolute;bottom: 232px;left: 60px;}
}
@media screen and (max-height: 868px){
    .image-title-para{position: absolute;bottom: 280px;left: 60px;}
}

@media screen and (max-height: 808px){
    .image-title-para{position: absolute;bottom: 340px;left: 60px;}
} */
@media screen and (max-width: 1601px) {
  .image-title-para,
  .slider-container .slick-slider .slick-dots {
    bottom: 24px;
  }
  .setLogo {
    top: 24px;
    left: 48px;
  }
}
@media screen and (max-width: 1441px) {
  .image-title-para {
    position: absolute;
    bottom: 24px;
    left: 48px;
  }
  .setmessage {
    width: 100%;
    max-width: 550px;
    line-height: 28px;
  }
}
