p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}



/* Initial button styles */
.fb-ser-button {
  background-color: #e4e6eb;   /* Initial background color */
  color: #3e3e3e;             /* Text color */
  border: none;             /* No border */
  padding: 10px 20px;       /* Padding around the button */
  font-size: 16px; 
  font-weight: 500;         /* Font size */
  cursor: pointer;          /* Pointer cursor on hover */
  border-radius: 5px;       /* Rounded corners */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

/* Hover effect */
.fb-ser-button:hover {
  background-color: #5e6c5e; /* Change background color on hover */
  color: white;              /* Optional: change text color */
}


.fbpos-fix {
}
.fbposright{position:absolute !important; right:20px !important;gap:10px !important;}
.rotate-image {
  transform: rotate(0deg); /* Rotate the image 90 degrees */
  transition: transform 0.5s ease-in-out; /* Smooth transition for rotation */
}
/* Left half to top half */
.left-top-triangle {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%);
}
.txt-color{color:black !important;}
/* Top half to right half */
.top-right-triangle {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
}

/* Right to bottom triangle */
.right-bottom-triangle {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
}

/* Bottom to right triangle */
.bottom-right-triangle {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
}

/* Apply both right-to-bottom and bottom-to-right cuts using clip-path */
.image-cut {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%) !important;
}
.cut-image {
  width: 300px; /* Adjust width and height as needed */
  height: 300px;
  object-fit: cover; /* Ensures the image scales correctly */
  clip-path: polygon(0 0, 20% 0, 0 20%, 0 100%);
}

.rotate-image:hover {
  transform: rotate(360deg); /* Rotate on hover to 180 degrees */
}

.fbprofileimgposcent {
  /* display:flex !important;
  justify-content: center !important; */
}

.fbbg-white{background-color: #fff;}
.fbref-button {
  padding: 4px 10px !important;
  margin-bottom: 12px !important;
  background: #1b74e4 !important;
  color: #ffffff !important;
  font-weight: 500 !important;
  border-radius: 5px;
}
.scroll-element-head {
  margin: 0 !important;
  padding: 0 !important;
}
.fbgradient-box {
  color: white;
  font-weight: bold;
  background: linear-gradient(to right, #0000ff, #ff0000); /* Blue to Red */
  /* border-radius: 10px; */
}
.fl-g10-r{
  flex-direction: row;
  display: flex;
  gap: 10px;
}
.fbgradient-box-header{
  color: black;
  font-weight: bold;
  background: grey; /* Blue to Red */
  /* b
.fbbg-head {
  background-color: #fff !important;
}
.fbflex-db {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.fbaboutprofile {
  width: 36%;
}

.fblinkbutton a {
  padding: 4px 10px;
  /* margin-bottom: 12px; */
  font-weight: 500;
  background-color: #e4e6eb;
  color: black;
}

.fblinkbutton a:hover {
  background-color: #d9dbdd;
}

.fbnavbar-toggler {
  border: none;
  display: contents;
}
.fbFirst-act {
  padding: 4px 10px;
  margin-bottom: 12px;
  background: #1b74e4 !important;
  color: #ffffff !important;
  font-weight: 500;
}

.fblinkbutton .fbbtn:focus {
  box-shadow: none;
}

.fbaboutprofile h2 {
  font-size: 2rem;
  margin: 0%;
  font-weight: 700;
}

.fbaboutprofile span {
  font-size: 14px;
  line-height: 10px;
  color: #6f676b;
}

.fblinkbar {
  text-align: start;
  letter-spacing: 12px;
  font-size: 17px;
  padding: 5px 0 0 0;
  width: fit-content;
}

.fbitailic {
  font-style: italic;
}

.fbprofile {
  align-items: center;
}

.fbheroback img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 20rem;
  border-radius: 10px;
}

.fbheader {
  position: relative;
  box-shadow: 0 1px 2px #00000033;
}

.fbprofilecont {
  position: relative;
  padding: 0 33px;
  justify-content: space-between;
  /* align-items: baseline; */
  align-items: end;
  display: flex;
  width: 100%;
  top: -3rem;
}

.fbprofileimg img {
  outline: 4px solid #ffffff;
  border-radius: 87%;
  border: 1px solid #ddd;
}

.fbherologo {
  text-align: end;
  margin-bottom: 5px;
}

.fbherologo a img {
  width: 43px;
}

.fbherologo h6 {
  color: #6f676b;
}

.fbmanuBar {
  position: absolute !important;
  width: 100%;
  top: 70%;
  border-bottom: 2px solid #ddd;
  background-color: #ffffff;
}

.fbtopend {
  border: 1px solid #ddd;
  width: 93.9%;
  margin: auto;
}

.fbmainbody {
  background: #f0f2f5;
}

#AboutSec {
  box-shadow: none;
  box-shadow: 0 1px 2px #00000033;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 9px;
}

.fbshadowBox {
  border: none !important;
}

.fbuserthum {
  display: flex;
  padding: 2rem 1rem;
  align-items: center;
}

.fbabouttext p {
  font-weight: 20px;
  color: rgb(111, 103, 107);
  font-size: 0.fb9375rem;
}

.fbabouttext h5 {
  font-weight: 700;
  width: fit-content;
  text-transform: uppercase;
  color: #65676b;
  font-size: 17px;
}

.fbuserabout {
  padding: 1rem;
}

.fbuserabout h5 {
  font-weight: 500;
  width: fit-content;
  text-transform: uppercase;
}

.fbcont {
  display: flex;
  justify-content: space-between;
}

.fbaddress {
  display: flex;
  justify-content: space-between;
}

.fbaddress h6 {
  margin-right: 10px;
}

.fbcont {
  width: 100%;
  margin: 1rem auto;
  padding: 0.fb375rem 0.fb75rem;
  font-size: 1rem;
  font-weight: 400;
  font-weight: bold;
  line-height: 1.fb5;
  color: #1b74e4;
  background-color: #fff;
  background-clip: padding-box;
  -webkit-appearance: none;
  justify-content: space-evenly;
  -moz-appearance: none;
  appearance: none;
  align-items: center;
  border-radius: 0.fb25rem;
  transition:
    border-color 0.fb15s ease-in-out,
    box-shadow 0.fb15s ease-in-out;
}

.fbcont h6 {
  width: 50%;
  color: #3e3e3e;
  margin: 0%;
}

.fbcont h6:hover {
  text-decoration: underline;
  cursor: pointer;
}

.fbcont p {
  font-size: 19px;
  margin: 0%;
  color: #8c939d;
  font-weight: 400;
}

#AboutSec .fbheader-section {
  margin: 10px;
}

#AboutSec .fbheader-section .fbtitle {
  position: relative;
  padding: 25px 0 0 0;
  padding-bottom: 25px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
}

#AboutSec .fbheader-section h2 {
  color: #050505;
}

#AboutSec .fbheader-section span {
  color: #050505;
}

/* ****************************************services************************************** */
#services {
  padding-bottom: 0%;
  box-shadow: 0 1px 2px #00000033;
  background-color: #ffffff;
  border-radius: 10px;
  padding-bottom: 1.fb7rem;
  margin: 9px;
}

.fbsection-services {
  padding-top: 12px;
  font-family: 'Poppins', sans-serif;
  color: #000;
}

.fbsection-services .fbheader-section {
  margin-bottom: 35px;
}

.fbsection-services .fbheader-section .fbtitle {
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 25px;
  text-transform: uppercase;
  font-weight: 700;
  color: #050505;
}

.fbsection-services {
  font-family: 'Poppins', sans-serif;
  color: #202020;
}

.fbsection-services .fbheader-section {
  margin-bottom: 34px;
}

.fbsection-services .fbheader-section .fbtitle {
  position: relative;
  padding-bottom: 14px;
  margin-bottom: 25px;
  padding: 25px 0 0 0;
  font-weight: 700;
  font-size: 1.fb25rem;
}

.fbborder-gallery .fbheader-section .fbtitle {
  position: relative;
  padding-bottom: 14px;
  margin-bottom: -25px;
  padding: 25px 0 0 0;
  font-weight: 700;
  font-size: 1.fb25rem;
}

.fbsection-services .fbsingle-service {
  position: relative;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px 30px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px 0px;
}

.fbsection-services .fbsingle-service .fbcontent {
  position: relative;
  z-index: 20;
}

.fbsection-services .fbsingle-service .fbcircle-before {
  position: absolute;
  top: 0;
  right: 0px;
  transform: translate(40%, -40%);
  width: 150px;
  height: 150px;
  background-color: rgb(27 116 228);
  border: 6px solid #ffe45c;
  border-radius: 50%;
  opacity: 0.fb5;
  z-index: 10;
  transition: all 0.fb6s;
}

.fbsection-services .fbsingle-service:hover .fbcircle-before {
  width: 100%;
  height: 100%;
  transform: none;
  border: 0;
  border-radius: 0;
  opacity: 1;
}

.fbsection-services .fbsingle-service .fbicon img {
  width: 70%;
  height: 70%;
  margin-bottom: 26px;
}

.fbsection-services .fbsingle-service .fbtitle {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 1.fb25rem;
  transition: color 0.fb3s;
}

.fbsection-services .fbsingle-service:hover .fbtitle {
  color: #fff;
}

.fbsection-services .fbsingle-service .fbdescription {
  margin-bottom: 35px;
  font-size: 14px;
  transition: color 0.fb3s;
}

.fbsection-services .fbsingle-service:hover .fbdescription {
  color: #fff;
}

.fbsection-services .fbsingle-service a {
  position: relative;
  border: 1px solid #ddd;
  padding: 6px 9px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
  color: #fff;
  background-color: #1b74e4;
  font-size: 14px;
  text-decoration: none;
  -webkit-transition-duration: 0.fb4s;
  transition-duration: 0.fb4s;
}

.fbsection-services .fbsingle-service:hover a {
  color: #fff;
}

.fbsection-services .fbsingle-service a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #1b74e4;
  transition: background-color 0.fb3s;
}

.fbsection-services .fbsingle-service:hover a:after {
  background-color: #fff;
}

/* *****************************************Products*************************************** */
#products {
  padding-bottom: 0%;
  padding: 12px 0px;
  box-shadow: 0 1px 2px #00000033;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 9px;
}
.fbMuiGrid-root {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
.fbmt-0 {
  margin-top: -20px !important;
}

.fbproduct-item {
  vertical-align: bottom;
  position: relative;
  background: rgb(255, 255, 255);
  padding: 1rem 1rem 2rem;
  border-radius: 17px 0px;
  /* box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px 0px; */
}

.fbproduct-item p {
  color: #6f676b;
  font-size: 0.fb9375rem;
  margin-bottom: 8px;
}

.fbproduct-thum {
  position: relative;
  top: -24.fb9rem;
  margin: auto;
  width: 86%;
  border-radius: 12px !important;
}

.fbproduct-thum img {
  border-radius: 12px;
}

.fbproduct-item h6 {
  font-size: 15px;
  font-weight: 600;
  color: #6f676b;
  margin-bottom: 15px;
}

.fbproduct-item h5 {
  font-weight: 700;
  font-size: 0.fb9975rem;
}

.fbproduct-item span {
  font-size: 12px;
  text-decoration: line-through;
}

.fbsingle-product {
  margin-top: 10px;
  /* height: 398px; */
}

.fbproduct-item a {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 6px 9px;
  color: #3e3e3e;
  background-color: #e4e6eb;
  font-size: 0.fb8375rem;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition-duration: 0.fb4s;
  transition-duration: 0.fb4s;
}

.fbproduct-item a:hover {
  color: #3e3e3e;
  background-color: #cccdd1;
}

/* ********************************************gallery*********************************** */
#gallery {
  padding: 0%;
}

.fbimg-box {
  box-sizing: content-box;
  height: 250px;
  width: -webkit-fill-available;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 10px 0px;
}

.fbimg-box img {
  box-sizing: content-box;
  height: 250px;
  width: -webkit-fill-available;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}

.fbcaption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0;
  transition:
    transform 0.fb3s ease,
    opacity 0.fb3s ease;
}

.fbtransparent-box {
  height: 250px;
  width: -webkit-fill-available;
  background-color: rgba(0, 0, 0, 0) !important;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.fb3s ease !important;
}

.fbimg-box:hover img {
  transform: scale(1.fb1);
}

.fbimg-box:hover .fbtransparent-box {
  background-color: rgba(0, 0, 0, 0.fb5);
}

.fbimg-box:hover .fbcaption {
  transform: translateY(-20px);
  opacity: 1;
}

.fbimg-box:hover {
  cursor: pointer;
}

.fbcaption > p:nth-child(2) {
  font-size: 0.fb8em;
}

.fbopacity-low {
  opacity: 0.fb5;
}

iframe {
  width: -webkit-fill-available;
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 10px 0px;
  box-sizing: content-box;
  height: 250px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 10px 0px;
}

.swiper-button-prev {
  color: gainsboro !important;
  font-weight: bolder;
}

.swiper-button-next {
  color: gainsboro !important;
  font-weight: bolder;
}

/* **************************************testimoniyal********************************** */
.fbtransparent-box img {
  transform: scale(1);
  transition: transform 0.fb4s ease;
}

.fbswiper-wrapper img {
  transform: scale(1);
  transition: transform 0.fb4s ease;
  border: 1px solid #ddd;
}

.swiper-pagination {
  position: relative !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0% !important;
}

.fbtestimonial__text {
  color: #6f676b;
  font-size: 0.fb9375rem;
}

/* *******************************************testimoniyal*************************** */
/* SLIDER */
.fbslider {
  height: 23rem;
  margin: 12px auto;
  position: relative;
  overflow: hidden;
  margin-top: 2rem;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 1px 2px #00000033;
}

.fbslide {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.fbslide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fbslider__btn {
  position: absolute;
  top: 49%;
  z-index: 10;
  border: none;
  background: transparent;
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.fb5rem;
  width: 5.fb5rem;
  font-size: 2.fb25rem;
  cursor: pointer;
}

.fbslider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.fbslider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.fbdots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.fbdots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.fb7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.fb75rem;
  cursor: pointer;
  transition: all 0.fb5s;
}

.fbdots__dot:last-child {
  margin: 0;
}

.fbdots__dot--active {
  background-color: #888;
  opacity: 1;
}

.fbtestimonial {
  width: 65%;
  margin-top: 0% !important;
  margin: auto;
  position: relative;
  background-color: #fff;
  text-align: center;
}

#TESTIMONIALS .fbheader-section {
  text-align: center;
  padding: 2rem 0 10px 0;
  color: #050505;
  text-transform: uppercase;
}

#TESTIMONIALS .fbheader-section span {
  font-weight: 700;
  font-size: 1.fb25rem;
}

.fbtestimonial__header {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.fb5rem;
}

.fbtestimonial__author {
  text-align: center;
  margin-top: 1rem;
}

.fbtestimonial__photo {
  grid-row: 1 / span 2;
  width: 6.fb5rem;
  border-radius: 50%;
}

.fbtestimonial__name {
  font-size: 1rem;
  font-weight: 500;
  align-self: end;
  margin: 0;
}

.fbtestimonial__location {
  font-size: 1rem;
  color: #6f676b;
  font-size: 0.fb9375rem;
}

.fbsection__title--testimonials {
  margin-bottom: 4rem;
  text-align: center;
}

/* *****************************top btn************************ */
.fbgotop {
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 72px;
  right: 30px;
  z-index: 99;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: white;
  border: none;
}

.fbgo-to-top button {
  border: 1px solid #ddd;
  border: 1px solid #ddd;
  background-color: #8dbaf2;
  font-weight: 700;
}

.fbgo-to-top button:focus {
  outline: none;
  box-shadow: none;
}

.fbgo-to-top .fbsvg-inline--fa {
  color: #ffffff;
  font-size: 2rem;
}

/* ****************************************PAYMENT********************************** */
#PAYMENT {
  position: relative;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px 0px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 2px #00000033;
  margin: 9px 9px 5rem 9px;
}

.fbaccount-text {
  display: block;
  width: 100%;
  padding: 0.fb375rem 0.fb75rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.fb5;
  color: #3e3e3e;
  background-color: #fff;
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.fb25rem;
  transition:
    border-color 0.fb15s ease-in-out,
    box-shadow 0.fb15s ease-in-out;
}

.fbpaymentSec {
  border: none !important;
  margin-top: 15rem;
}
.fblt-sp {
  letter-spacing: 5px;
}
.fbpaymentcard {
  background: url(../img/cardbg.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: absolute; */
  border: 1px solid #ddd;
  width: 41%;
  margin: auto;
  right: 29%;
  top: 6%;
  padding: 1rem 1rem;
  z-index: 99;
  border-radius: 20px;
  color: #fff;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px 0px;
}

.fbcardQR img {
  width: 20%;
  margin: 0px 0 1rem 0px;
}

.fbaccountNum {
  letter-spacing: 11px;
  font-weight: 600;
}

.fbaccountNum p {
  color: #ffffff;
  text-shadow: 2px 2px #ffffff42;
}

.fbcardholder label {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}

.fbcardholder p {
  font-weight: 700;
  margin: 0;
  color: #ffffff;
  text-shadow: 2px 2px #ffffff42;
}

.fbelement {
  /* margin-bottom: 1rem; */
  background: url('.fb.fb/assets/img/1.fbpng');
  background-size: cover;
  padding: 47px 47px 37px 47px;
  background-position: center;
  display: inline-block;
  overflow: hidden;
}

.fbshape {
  width: 236px;
  height: 236px;
  border-radius: 15px;
  /* transform: rotate(45deg); */
  box-shadow: 0px 0px 0px 200px #ffffff;
}

.fbservice-box {
  text-align: center;
}

.fbservice-containet {
  padding: 1rem;
  border-radius: 10px;
}

.fbservice-containet p {
  color: #6f676b;
  font-size: 0.fb9375rem;
}

.fbservice-containet h3 {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 0.fb9975rem;
  margin-bottom: 7px;
  transition: color 0.fb3s ease 0s;
}

.fbservice-containet a {
  position: relative;
  border: 1px solid #ddd;
  padding: 6px 9px;
  color: #3e3e3e;
  background-color: #e4e6eb;
  font-size: 0.fb8375rem;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition-duration: 0.fb4s;
  transition-duration: 0.fb4s;
  border-radius: 6px;
}

.fbservice-containet a:hover {
  color: #3e3e3e;
  background-color: #cccdd1;
}

.fbservice-containet a:focus-visible {
  outline: none;
}

.swiper-button-prev {
  display: none !important;
}

.fbmeSwiper {
  padding: 0 0.fb3rem !important;
}

.swiper-button-next {
  display: none !important;
}

/* .fbswiper-slide{
    width: 385px !important;
} */

.fbfixed-top {
  position: fixed;
  top: 0;
  padding: 1rem 9.fb4rem !important;
  right: 0;
  background: #ffffff;
  left: 0;
  z-index: 1030;
  box-shadow: 0 0 5px 0 #ddd;
}

#testi {
  padding-top: 10px;
}

.fbborder-gallery {
  padding: 10px 0px !important;
  /* box-shadow: 0 1px 2px #00000033; */
  /* background-color: #ffffff; */
  border-radius: 10px;
  margin: 9px 9px 3.fb9rem 9px;
}
.fbmt-9 {
  margin-top: -9px;
}
.fbmt-65 {
  margin-top: -65px;
}

.fbborder-gallery span {
  font-size: 1.fb25rem;
  color: #050505;
  font-weight: 700;
}

.fbpaymentcard label {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}

/* **************************************model********************************** */
.fbshare-dil {
  margin: 7rem 2rem 3rem;
  position: relative;
  justify-content: space-between;
  display: flex;
  padding: 1rem;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}

.fbshrthum img {
  position: absolute;
  width: 125px;
  height: 125px;
  object-fit: cover;
  border-radius: 50%;
  bottom: 10rem;
  right: 12rem;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}

.fbdit p {
  font-size: 13px;
  color: #6f676b;
}

.fbshare-dil-img img {
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}

.fblink-button a {
  padding: 6px 9px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
  font-size: 14px;
  text-decoration: none;
  -webkit-transition-duration: 0.fb4s;
  transition-duration: 0.fb4s;
  color: #000000;
  font-weight: 600;
}

.fbprofile-shr .fbmodal-content {
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
  border-radius: 20px !important;
}

.fbprofile-shr .fbmodal-header {
  background-color: #1b74e4 !important;
  color: #ffffff;
  border-radius: 18px 18px 0 0;
  padding: 1rem 2rem;
}

.fbprofile-shr .fbmodal-header button {
  border: none;
  padding: 2px 7px;
}

.fbproduct-img img {
  width: 100%;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}

.fbabout-prod {
  padding: 1rem 0px;
  padding: 2rem;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}

.fbdetail .fbmodal-header {
  background-color: #1b74e4 !important;
  color: #ffffff;
}

.fbdetail .fbmodal-header button {
  border: none;
  padding: 2px 7px;
}

.fbabout-prod h5 {
  color: #6f676b;
  font-size: 1rem;
}

.fbimage {
  width: 100%;
  height: 200px;
}

.fbradio {
  display: none;
}

.fbimages {
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.fbimages-inner {
  width: 500%;
  transition: all 800ms cubic-bezier(0.fb77, 0, 0.fb175, 1);
  transition-timing-function: cubic-bezier(0.fb77, 0, 0.fb175, 1);
}

.fbimage-slide {
  width: 20%;
  float: left;
}

.fbimage-slide,
.fbfake-radio,
.fbradio-btn {
  transition: all 0.fb5s ease-out;
}

.fbfake-radio {
  float: right;
}

#slide1:checked ~ .fbimages .fbimages-inner {
  margin-left: 0;
}

#slide2:checked ~ .fbimages .fbimages-inner {
  margin-left: -100%;
}

#slide3:checked ~ .fbimages .fbimages-inner {
  margin-left: -200%;
}

#slide1:checked ~ div .fbfake-radio .fbradio-btn:nth-child(1),
#slide2:checked ~ div .fbfake-radio .fbradio-btn:nth-child(2),
#slide3:checked ~ div .fbfake-radio .fbradio-btn:nth-child(3) {
  background: red;
}

.fbradio-btn {
  width: 9px;
  height: 9px;
  border-radius: 5px;
  background: gray;
  display: inline-block !important;
  margin: 0 1px;
  cursor: pointer;
}

#slide1:checked ~ .fblabels .fblabel:nth-child(1),
#slide2:checked ~ .fblabels .fblabel:nth-child(2),
#slide3:checked ~ .fblabels .fblabel:nth-child(3) {
  opacity: 1;
}

.fblabel {
  opacity: 0;
  position: absolute;
}

@keyframes bullet {
  0%,
  33.32333333333334% {
    background: red;
  }

  33.333333333333336%,
  100% {
    background: gray;
  }
}

#play1:checked ~ div .fake-radio .radio-btn:nth-child(1) {
  animation: bullet 12300ms infinite -1000ms;
}

#play1:checked ~ div .fake-radio .radio-btn:nth-child(2) {
  animation: bullet 12300ms infinite 3100ms;
}

#play1:checked ~ div .fake-radio .radio-btn:nth-child(3) {
  animation: bullet 12300ms infinite 7200ms;
}

@keyframes slide {
  0%,
  25.203252032520325% {
    margin-left: 0;
  }

  33.333333333333336%,
  58.53658536585366% {
    margin-left: -100%;
  }

  66.66666666666667%,
  91.869918699187% {
    margin-left: -200%;
  }
}

.fbst-slider > #play1:checked ~ .fbimages .fbimages-inner {
  animation: slide 12300ms infinite;
}

@keyframes caption {
  0%,
  33.32333333333334% {
    opacity: 1;
  }

  33.333333333333336%,
  100% {
    opacity: 0;
  }
}

#play1:checked ~ .labels .label:nth-child(1) {
  animation: caption 12300ms infinite -1000ms;
}

#play1:checked ~ .labels .label:nth-child(2) {
  animation: caption 12300ms infinite 3100ms;
}

#play1:checked ~ .labels .label:nth-child(3) {
  animation: caption 12300ms infinite 7200ms;
}

/* *********************************************footer******************************** */
.fbfooter-stip {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99;
  width: 100%;
  background-color: #1b74e4;
  color: white;
  text-align: center;
}

.fbfooter-cont {
  padding: 1rem 2rem;
}

.fbfooter-cont a {
  padding: 4px 10px;
  margin-bottom: 12px;
  font-weight: 500;
  background-color: #e4e6eb;
  color: black;
  margin: 0%;
}

.fbfooter-cont a:hover {
  background-color: #d8d9dd;
}

#more {
  display: none;
}

#myBtn {
  color: #1b74e4;
  text-decoration: underline;
}

/* ********************************links****************************** */
.fbimp_links {
  margin: 1rem 1.fb3rem 0 1.fb3rem;
  padding: 0px 12px 2.fb5rem;

  /* box-shadow: 0 1px 2px #00000033; */
  background-color: #ffffff;
  border-radius: 10px;
}

.fbimp_links .fbheader-section .fbtitle {
  position: relative;
  padding-bottom: 14px;
  margin-bottom: 50px;
  padding: 25px 0 0 0;
  font-weight: 700;
  font-size: 1.fb25rem;
}

.fbimp_links span {
  /* color: #050505; */
  /* text-transform: uppercase; */
}

.fblink1 {
  display: flex;
  justify-content: space-between;
}

.fblink2 {
  margin-top: 2rem;
}

.fblink1 a {
  text-decoration: none;
  font-weight: 500;
}

.fbform-btn button {
  position: relative;
  border: 1px solid #ddd;
  padding: 6px 9px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
  color: #fff;
  background-color: #1b74e4;
  font-size: 14px;
  text-decoration: none;
  -webkit-transition-duration: 0.fb4s;
  transition-duration: 0.fb4s;
}

.fbrating {
  border: none;
  float: left;
}

.fbrating > input {
  display: none;
}

.fbrating > label:before {
  margin: 5px;
  font-size: 1.fb25em;
  font-family: FontAwesome;
  display: inline-block;
  content: '\f005';
}

.fbrating > .fbhalf:before {
  content: '\f089';
  position: absolute;
}

.fbrating > label {
  color: #ddd;
  float: right;
}

.fbrating>input:checked~label,
/* show gold star when clicked */
.fbrating:not(:checked)>label:hover,
/* hover current star */
.fbrating:not(:checked)>label:hover~label {
  color: #ffd700;
}

/* hover previous stars in list */

.fbrating>input:checked+label:hover,
/* hover current star when changing rating */
.fbrating>input:checked~label:hover,
.fbrating>label:hover~input:checked~label,
/* lighten current selection */
.fbrating>input:checked~label:hover~label {
  color: #ffed85;
}

blockquote {
  font-weight: 100;
  font-size: 18px;
  max-width: 100%;
  line-height: 1.4;
  position: relative;
  margin: 0;
  padding: 0.5rem;
}

blockquote:before,
blockquote:after {
  position: absolute;
  color: #f1efe6;
  font-size: 8rem;
  width: 4rem;
  height: 4rem;
}

#prolink {
  padding: 1rem;
}

#servlink {
  padding: 1.9rem;
}

#prodlink {
  padding: 1.9rem;
}

#imglink {
  padding: 1.9rem;
}

#testilink {
  padding: 1rem;
}

#paylink {
  padding: 1.1rem;
}

.fbaccountdetails label {
  width: 54%;
  color: rgb(111, 103, 107);
  font-size: 0.9375rem;
  margin: 0%;
}

#navbar {
  overflow: hidden;
  background-color: #ffffff;
  z-index: 100;
  padding: 0 2.1rem;
}

#navbar a {
  float: left;
  display: block;
  color: #65676b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  margin: 3px 0;
  font-weight: 600;
}

#navbar a:hover {
  background-color: #f0f0f0;
  color: #1b74e4;
  border-radius: 8px;
}

.fbcontent {
  padding: 16px;
}

.fbsticky {
  position: fixed;
  top: 0;
  left: 0%;
  right: 0;
  width: 100%;
  padding: 0 9.4rem !important;
  box-shadow: 0 1px 2px #00000033;
  /* background: #ffffffec !important; */
}

.fbtopUserImg img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0px 0 0 16px;
}

.fbtopUserImg {
  position: relative;
  left: 18.4rem;
  display: none;
  align-items: center;
}

.fbtopUserImg p {
  margin: 0%;
  font-size: 15px;
  font-weight: 600;
  color: #65676b;
}

.fbsticky .topUserImg {
  display: flex;
}

.fbborder-offer {
  padding: 10px 0px !important;
  box-shadow: 0 1px 2px #00000033;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 3.8rem 9px 9px 9px;
}
.mn-pad{padding-left: 5% !important;padding-right: 5% !important;}
/* *************************************media******************************* */
@media only screen and (max-width: 2560px) and (min-width: 1439px) {
  .fbsticky {
    padding: 8px 41.6rem !important;
  }

  .fbtopUserImg {
    left: 29.fb5rem;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1439px) {
  .fbsticky {
    padding: 0 6.6rem !important;
  }
}

@media only screen and (max-width: 1024px) {
  .fbsticky {
    padding: 8px 4.8rem !important;
  }

  .fbtopUserImg {
    left: 7.2rem;
  }

  .fblinkbutton {
    text-align: right;
  }

  .fbaboutprofile {
    width: 51%;
    margin-left: 20px;
  }

  .fbshape {
    width: 170px;
    height: 170px;
  }

  .fbproduct-item {
    padding: 2rem 1rem 2rem;
  }

  .fbproduct-item a {
    padding: 5px 4px;
  }

  .fbmeSwiper {
    padding: 8px 0.3rem;
  }

  #products {
    padding: 10px 0px 30px 0;
  }

  .fbslider {
    height: 25rem;
  }

  .fblinkbutton a {
    font-size: 15px;
    padding: 2px 4px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .fbform-btn {
    display: inline-block;
  }
  .mn-pad{padding-left: 2% !important; padding-right: 2% !important;}

  .fbsticky {
    padding: 8px 4.3rem !important;
  }
  .fbprofileimgposcent {
    display:flex !important;
    justify-content: center !important;
  }

  .fbprofilecont {
    display: block;
    text-align: center;
    top: -6rem;
  }

  .fbaboutprofile {
    margin: 2% 0 0 0;
    width: 100%;
  }

  .fblinkbar {
    text-align: center;
    width: auto;
    margin: 0 0 10px 0;
  }

  .fbherologo {
    text-align: center;
  }

  .fblinkbutton {
    text-align: center;
  }

  .fblinkbutton a {
    font-size: 15px;
    padding: 7px 11px;
    margin: 1rem 0 0 0;
  }

  .fbshadowBox .fbrow {
    display: block;
  }

  .fbshadowBox .fbcol-md-7 {
    width: 100%;
  }

  .fbshadowBox .fbcol-md-5 {
    width: 100%;
  }

  .fbcont {
    justify-content: flex-start;
  }

  .fbcont h6 {
    margin: 0 0 0 1rem;
    width: 100%;
  }

  .fbshape {
    width: 138px;
    height: 138px;
  }

  .fbelement {
    padding: 22px;
  }

  .fbbutton_dil a {
    display: block;
    margin: 6px 0;
    border-radius: 8px;
    text-align: center;
  }

  .fbservice-containet p {
    margin: 0 0 9px 0;
  }

  .fbproduct-thum {
    top: -26.fb5rem;
  }

  .fbproduct-item {
    padding: 2rem 1rem 2rem;
  }

  .fbsingle-product {
    /* height: 393px; */
  }

  .fbimg-box {
    height: auto;
  }

  .fbimg-box img {
    height: auto;
  }

  iframe {
    height: auto;
  }

  .fbslider {
    height: 27rem;
  }

  .fbpaymentcard {
    width: 76%;
    margin: auto;
    right: 12%;
    top: 12%;
  }

  .fbpaymentSec {
    margin-top: 19rem;
  }

  .fbaccountdetails label {
    width: 50%;
  }

  .fbheroback img {
    height: 10rem;
  }

  .fbuserthum {
    padding: 2rem 1rem 0rem;
  }

  .fbtopUserImg {
    display: none !important;
  }

  #navbar a {
    width: 100%;
  }

  #navbar {
    padding: 11px 2.1rem;
  }
}

@media screen and (max-width: 767px) and (min-width: 305px) {
  .fbsticky {
    padding: 8px 2.8rem !important;
  }
  .mn-pad{padding-left: 1% !important;padding-right: 1% !important;}

  .fbnavbar-light .navbar-toggler p {
    font-size: 15px;
    font-weight: 500;
  }

  .fbnavbar-toggler {
    border: none;
  }

  .fbfooter-cont {
    padding: 1rem 0%;
  }

  .fbfooter-cont a {
    padding: 2px 4px;
    font-size: 14px;
  }

  .fbheroback img {
    height: 9rem;
  }

  .fbprofilecont {
    display: block;
    text-align: center;
  }

  .fbaboutprofile {
    width: 100%;
    text-align: center;
    margin: 0%;
  }

  .fbaboutprofile span {
    font-size: 12px;
  }
  .fbprofileimgposcent {
    display:flex !important;
    justify-content: center !important;
  }

  .fblinkbar {
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
  }

  .fbherologo {
    text-align: center;
    width: 100%;
  }

  .fblinkbutton {
    text-align: center;
    width: 100%;
    font-size: 10px;
    justify-content: center;
  }

  .fblinkbutton a {
    font-size: 14px;
    padding: 5px 3px;
    margin: 1% 0;
    width: inherit;
  }

  .fbprofilecont {
    top: -5rem;
  }

  .fbprofileimg img {
    /* width: 100%; */
  }

  .fbcont h6 {
    width: 100%;
    margin-left: 15px;
  }

  .fbproduct-item {
    padding: 2rem 1rem 2rem;
  }

  #products {
    padding: 10px 0px 0px 0;
  }

  .fbproduct-thum {
    top: -29rem;
  }

  .fbsingle-product {
    margin-top: 20px;
    /* height: 420px; */
  }

  .fblink1 {
    display: block;
  }

  .fblink1 a {
    margin-left: 13px;
  }

  .fblink1 div {
    margin: 15px 0;
  }

  .fbtestimonial {
    width: 100%;
  }

  .fbslider {
    height: 29rem;
  }

  .fbpaymentcard {
    display: none;
  }

  .fbpaymentSec {
    margin-top: 0%;
  }

  .fbaccountdetails .fbd-flex {
    display: block !important;
    margin: 0%;
  }

  .fbaccountdetails .fbaccount-text {
    padding: 0%;
  }

  .fblink2 {
    margin-top: 0%;
  }

  .fbimp_links .fbheader-section .fbtitle {
    margin-bottom: 22px;
  }

  .fbimp_links {
    padding: 10px 12px 1.fb5rem;
  }

  .fbaboutprofile h2 {
    font-size: 1.7rem;
  }

  .fbuserthum {
    padding: 2rem 1rem 0rem;
  }

  .fbimg-box {
    height: auto;
  }

  .fbimg-box img {
    height: auto;
  }

  iframe {
    height: auto;
  }

  .fbbutton_dil a {
    display: block;
    margin: 6px 0;
    border-radius: 8px;
    text-align: center;
  }

  .fbshare-dil {
    display: block;
  }

  .fbshrthum img {
    bottom: 19.4rem;
    width: 100px;
    /* max-width: 100%; */
    margin: auto 50%;
    height: 100px;
    right: -3.4rem;
  }

  .fbshare-dil-img {
    margin: 1rem 0 0 0;
  }

  .fbprofile-shr .fbmodal-content {
    text-align: center;
  }

  .fbtopUserImg {
    display: none !important;
  }

  #navbar a {
    width: 100%;
  }

  #navbar {
    padding: 11px 2.1rem;
  }

  .fbpos-fix {
    position: fixed;
    top: 0;
  }
  .fbcontainer{padding: 0px 0px 0px 5px !important;}
}

@media screen and (max-width: 374px) and (min-width: 290px) {
  .fbprofile-shr .fbmodal-content {
    text-align: center;
  }
  .fbprofileimgposcent {
    display:flex !important;
    justify-content: center !important;
  }

  .fbshare-dil-img {
    margin: 1rem 0 0 0;
  }

  .fblink-button a {
    font-size: 12px;
  }

  .fbshrthum img {
    bottom: 19.4rem;
    width: 100px;
    /* max-width: 100%; */
    margin: auto 50%;
    height: 100px;
    right: -3.fb4rem;
  }

  .fbshare-dil {
    display: block;
  }

  .fbform-btn button {
    font-size: 11px;
    padding: 6px 6px;
  }

  .fbsticky {
    padding: 8px 2.8rem !important;
  }

  .fbnavbar-light .fbnavbar-toggler p {
    font-size: 15px;
  }

  .fbfooter-cont {
    padding: 1rem 0rem;
  }

  .fbprofilecont {
    display: block;
  }

  .fbfooter-cont a {
    padding: 2px 3px;
    font-size: 12px;
  }

  .fbheroback img {
    height: 9rem;
  }

  .fbprofileimg img {
    width: 70%;
  }

  .fbprofileimg {
    text-align: center;
  }
  .fbprofileimgposcent {
    display:flex !important;
    justify-content: center !important;
  }

  .fbaboutprofile {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .fbprofilecont {
    top: -5rem;
  }

  .fblinkbar {
    width: 100%;
    text-align: center;
  }

  .fbherologo {
    text-align: center;
  }

  .fblinkbutton a {
    font-size: 14px;
    padding: 5px 3px;
    margin: 1% 0;
    width: inherit;
  }

  .fblinkbutton {
    text-align: center;
    width: 100%;
  }

  .fbcont {
    /* display: block; */
    padding: 0rem;
  }

  .fbcont h6 {
    width: 100%;
    font-size: 12px;
    margin-left: 13px;
  }

  .fbuserthum {
    padding: 2rem 1rem 0;
  }

  .fbpaymentcard {
    display: none;
  }

  .fbpaymentSec {
    margin-top: 0%;
  }

  .fbaccountdetails .fbd-flex {
    display: block !important;
    margin: 0%;
  }

  .fbaccountdetails .fbaccount-text {
    padding: 0%;
  }

  .fblink2 {
    margin-top: 0%;
  }

  .fbimp_links .fbheader-section .fbtitle {
    margin-bottom: 22px;
  }

  .fbimp_links {
    padding: 10px 12px 1.5rem;
  }

  .fblink1 {
    display: block;
  }

  .fblink1 a {
    margin-left: 13px;
  }

  .fblink1 div {
    margin: 15px 0;
  }

  .fbtestimonial {
    width: 100%;
  }

  .fbslider {
    height: 32rem;
  }

  #products {
    padding: 10px 0px 0 0;
  }

  .fbimg-box {
    height: auto;
  }

  .fbimg-box img {
    height: auto;
  }

  iframe {
    height: auto;
  }

  .fbshape {
    width: 144px;
    height: 144px;
  }

  .fbelement {
    padding: 26px;
  }

  .fbbutton_dil a {
    display: block;
    margin: 6px 0;
    border-radius: 8px;
    text-align: center;
  }

  .fbsingle-product {
    margin-top: 20px;
  }

  .fbproduct-thum {
    top: -28rem;
  }

  .fbproduct-item {
    padding: 2rem 1rem 2rem;
  }

  .fbtopUserImg {
    display: none !important;
  }

  #navbar a {
    width: 100%;
  }

  #navbar {
    padding: 11px 2.1rem;
  }
}

.fbmenu-box {
  display: none;
}

.fbmenuopen {
  display: block;
}

.fbjs-cent {
}
/* Base styles for the image container */

.fbimg-hidden {
}
/* Adjust styles for tablets and larger screens */
@media (max-width: 640px) {
  /* Tablet (sm) */
  .fbjs-cent {
    justify-content: center !important;
  }

  .fbimg-hidden {
    display: none;
  }
}

/* Adjust styles for desktops and larger screens */
@media (min-width: 768px) {
  /* Desktop (md) */
  .fbjs-cent {
    justify-content: center !important;
  }

  .fbimg-hidden {
    display: none;
  }
}

@media (min-width: 1024px) {
  /* Large Desktop (lg) */
}
