.accordion-icon-class {
  transform: rotate(90deg);
  color: #002850;
}
.accordion-icon {
  justify-content: start;
  gap: 20px;
}

.\[\&\[data-state\=open\]\>svg\]\:rotate-180[data-state="open"] > svg {
  --tw-rotate: 90deg;
}
.acc-onSelect {
  cursor: "pointer";
}
